$font-title-m: normal 700 72px /86px Gilroy;
$font-subtitle-m: normal 700 24px /150% Gilroy;
$font-button-m: normal 700 14px /17px Gilroy;

.mainTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle__title {
  margin: 0 0 40px 0;
  color: #fff;
  font: $font-title-m;
  text-align: center;
}

.mainTitle__subtitle {
  margin: 0 0 50px 0;
  color: #fff;
  font: $font-subtitle-m;
  text-align: center;
}

.mainTitle__button {
  height: 50px;
  width: 160px;
  color: #ED4C5C;
  font: $font-button-m;
  background: #FFF;
  border: 0;
  border-radius: 6px;
  margin: 0 0 151px 0;
  text-transform: uppercase;
}

.mainTitle__button:hover {
  cursor: pointer;
}