// $font-title-m: normal 700 36px /43px Gilroy;
// $font-subtitle-m: normal 400 14px /140% Gilroy;
$font-link-m: normal 400 14px /140% Gilroy;

.promo {
  width: 100%;
  // max-width: 1110px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 94px 165px;
  background-color: #fff;
}

.promo__img {
  position: relative;
  max-width: 478px;
  width: 100%;
  height: 311px;
  border-radius: 15px;
  overflow: hidden;
}

.promo__content {
  max-width: 445px;
}

.promo__link {
  font: $font-link-m;
  color: #ED4C5C;
}

@media screen and (max-width: 450px){
  .promo {
   padding: 50px 20px;
   flex-direction: column;
  }

  .promo__content {
    margin: 0 0 50px 0;
  }
}