.programms {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.programms__items {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .programms {
    padding: 0 12px;
  }
}