.navItem {
  font-size: 14px;
  margin-right: 20px;
  white-space: nowrap;
}

.navItem_place_noMain {
  color: #ED4C5C;
}

.navItem:nth-of-type(6n) {
  margin-right: 0;
}

.navItem__link {
  text-decoration: none;
}

.navItem__link_active {
  text-decoration: underline;
}