$font-title-m: normal 700 22px /150% Gilroy;
$font-subtitle-m: normal 700 18px /100% Gilroy;
$font-text-m: normal 400 16px /150% Gilroy;

.serviceItem {
  width: 100%;
  max-width: 1110px;
  margin: 0 0 100px 0;
}

.serviceItem__content {
  display: flex;
  justify-content: space-between;
}

.serviceItem__title {
  font: $font-title-m;
  margin: 0 0 50px 0;
}

.serviceItem__subtitle {
  font: $font-subtitle-m;
  margin: 0;
}

.serviceItem__wrapper {
  margin: 0 0 50px 0;
  width: 100%;
  max-width: 500px;
}

.serviceItem__text {
  font: $font-text-m;
}