$font-m: normal 400 26px /1.2 Gilroy;

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__item {
  text-decoration: none;
  font: $font-m;
  // font-size: 20px;
}

.contacts__item_place_npMain {
  color: #ED4C5C;
}