.contact {
  width: 100%;
  padding: 120px 165px 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.contact__content {
  max-width: 445px;
}

@media screen and (max-width: 1150px) {
  .contact {
    padding: 120px 100px 100px;
  }

  .contact__content {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    padding: 40px 20px 60px;
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .contact {
    padding: 30px 12px 50px;
  }
}