.contact {
  width: 100%;
  padding: 120px 165px 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.contact__content {
  max-width: 445px;
}

@media screen and (max-width: 450px){
  .contact {
    padding: 120px 20px 100px;
    flex-direction: column;
  }
}