$font-title-m: normal 700 36px /43px Gilroy;

.title {
  font: $font-title-m;
}

// position for current block
.promo {
  margin: 44px 0 24px 0;
  color: #000;
}

.topArticles {
  margin: 0 0 60px 0;
  color: #000;
  text-align: center;
}

.services {
  text-align: center;
  margin: 0 0 50px 0;
}

.programm {
  margin: 0 0 30px 0;
  color: #fff;
}

.contact {
  margin: 0 0 60px 0;
}

.services {
  margin: 0 0 120px 0;
}

.articles {
  margin: 0 0 50px 0;
  text-align: center;
}