$font-title-m: normal 700 36px /43px Gilroy;
$font-title-mm: normal 700 44px /43px Gilroy;

.title {
  font: $font-title-m;
}

// position for current block
.promo {
  margin: 44px 0 24px 0;
  color: #000;
}

.topArticles {
  margin: 0 0 60px 0;
  color: #000;
  text-align: center;
}

.services {
  text-align: center;
  margin: 0 0 50px 0;
}

.programm {
  margin: 0 0 30px 0;
  color: #fff;
}

.contact {
  margin: 0 0 60px 0;
}

.services {
  margin: 0 0 120px 0;
}

.articles {
  margin: 0 0 50px 0;
  text-align: center;
}

.about {
  margin: 0 0 70px 0;
  text-align: center;
}

.programms {
  margin: 0 0 70px 0;
  text-align: center;
  text-transform: uppercase;
}

.programm {
  margin: 0 0 40px 0;
  text-align: start;
  color: #000;
}

.programmMain {
  margin: 0 0 40px 0;
  text-align: start;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .promo {
    margin: 20px 0 24px 0;
  }

  .services {
    margin: 0 0 50px 0;
  }

  .contact {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .programmMain {
    margin: 0 0 20px 0;
    text-align: center;

  }
}