.services {
  width: 100%;
  padding: 65px 165px 165px 165px;
  background-color: #fff;
  margin: 0;
}

.services__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .services {
    padding: 60px 100px 140px 100px;
  }
}

@media screen and (max-width: 450px) {
  .services {
    padding: 60px 20px 20px 20px;
  }

  .services__items {
    flex-direction: column;
  }
}