$font-subtitle-m: normal 400 14px /140% Gilroy;

.subtitle {
  margin: 0 0 20px 0;
  font: $font-subtitle-m;

}

.promo {
  color: #000;
}

.programm {
  color: #fff;
}


@media screen and (max-width: 1150px) {
  .programm {
    max-width: 420px;
  }

}