@import url(../vendor/fonts.css);

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0 auto;
}

.root {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px 165px 80px 165px; */
}