$primary: #3813be;
$font-title-xl: normal 700 44px /43px Gilroy;
$font-title-m: normal 700 72px /86px Gilroy;
$font-title-m: normal 700 36px /43px Gilroy;
$font-title-task-m: normal 700 36px /43px Gilroy;
$font-create-task-m: normal 700 18px /20px Gilroy;
$font-description-task-m: normal 400 18px /20px Gilroy;
$font-task-m: normal 400 16px /20px Gilroy;

// :export {
//   primary: $primary;
//   font-title-xl: $font-title-xl;
//   font-title-m: $font-title-m;
// }